@charset "UTF-8";
/* 
em HTML é id em CSS é #
em HTML é Class em CSS é . 
*/ 

body{
    background-color: rgb(196, 250, 208);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(5, 32, 24);
}
#principal{
    color: white;
    text-align: center;
    background-color: green;
}

h2{
    color: rgb(5, 99, 40);
}
.basico{
    color:violet;
    font-weight: bold;
}
.intermediario{
    color: tomato;
}
.avancado{
    color: teal;
}
.destaque{
    background-color: rgb(217, 230, 42);
}